<a href="https://colab.research.google.com/github/Whale-way/happy-whale/blob/Classification/Classification_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Baseline model for image classification

- we use the segmented dataset of: https://www.kaggle.com/datasets/adnanpen/background-removed-happywhale-dataset/code?select=seg_img 
- Final goal for the output is 5 suggestions for the matching photo-ID (or the suggestion that it is a new animal)

First ideas/thoughts:

- clean the csv (misspellings in the species)
- get an overview about the number of species and individuals/pictures per individual
- try to classify the species first
- choose a subset (100) images to build a baseline with SVM sckitlearn

Prep System / Packages etc.

In [ ]:
import numpy as np
import pandas as pd
import os

Checking out the data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
datapath = os.path.join("drive", "Shareddrives", "When there's a whale there's a way", "input", "sample_segmented_images", "")

In [ ]:
train_df = pd.read_csv(datapath + "seg_train_sample_100.csv", sep = ';')

In [ ]:
train_df.head(10)

                image             species individual_id
0  0a572d02a1ed8e.png         minke_whale  0940fc2c3809
1  0a0ae8699f1a5a.png              beluga  af02c0601c6e
2  0a0cedc8ac6499.png  melon_headed_whale  fa870e1ae82d
3  0a0d83708b4fdc.png  bottlenose_dolphin  c2705f9e75c8
4  0a0e4b82b9f3ee.png      humpback_whale  02f5c5ee9c2a
5  0a0e90fb154acf.png  false_killer_whale  f7bb4f9a9d1a
6  0a0f53c069bffc.png     spinner_dolphin  1b9d07e72110
7  0a01b620a7915b.png          blue_whale  7c9f2b782eed
8  0a1bcf1da2b695.png              beluga  d53bc5d9dbfe
9  0a1c741127059b.png  bottlenose_dolphin  a43daee90cbc

--> i didn't fint out yet, what the new column (box) is about...

In [ ]:
train_df['species']. value_counts()

beluga                       20
bottlenose_dolphin           17
humpback_whale               16
blue_whale                    7
spinner_dolphin               6
minke_whale                   4
false_killer_whale            4
kiler_whale                   3
melon_headed_whale            3
bottlenose_dolpin             2
long_finned_pilot_whale       2
common_dolphin                2
dusky_dolphin                 2
short_finned_pilot_whale      2
fin_whale                     2
pantropic_spotted_dolphin     1
killer_whale                  1
cuviers_beaked_whale          1
southern_right_whale          1
gray_whale                    1
spotted_dolphin               1
pilot_whale                   1
pygmy_killer_whale            1
Name: species, dtype: int64

we have some typos in the species:
- but we have bottlenose_dolphin and bottlenose_dolpin, kiler_whale and killer_whale. Obviously, it is typos. Also, globis and pilot_whale are short_finned_pilot_whale

--> correct the labels

In [ ]:
train_df.species.replace({"globis": "short_finned_pilot_whale",
                          "pilot_whale": "short_finned_pilot_whale",
                          "kiler_whale": "killer_whale",
                          "bottlenose_dolpin": "bottlenose_dolphin"}, inplace=True)

In [ ]:
train_df['species']. value_counts()

beluga                       20
bottlenose_dolphin           19
humpback_whale               16
blue_whale                    7
spinner_dolphin               6
minke_whale                   4
killer_whale                  4
false_killer_whale            4
melon_headed_whale            3
short_finned_pilot_whale      3
long_finned_pilot_whale       2
common_dolphin                2
dusky_dolphin                 2
fin_whale                     2
pantropic_spotted_dolphin     1
cuviers_beaked_whale          1
southern_right_whale          1
gray_whale                    1
spotted_dolphin               1
pygmy_killer_whale            1
Name: species, dtype: int64