<a href="https://colab.research.google.com/github/Whale-way/happy-whale/blob/Classification/Classification_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Baseline model for image classification

- we use the segmented dataset of: https://www.kaggle.com/datasets/adnanpen/background-removed-happywhale-dataset/code?select=seg_img 
- Final goal for the output is 5 suggestions for the matching photo-ID (or the suggestion that it is a new animal)

First ideas/thoughts:

- clean the csv (misspellings in the species)
- get an overview about the number of species and individuals/pictures per individual
- try to classify the species first
- choose a subset (100) images to build a baseline with SVM sckitlearn

Prep System / Packages etc.

In [ ]:
import numpy as np
import pandas as pd
import os

Checking out the data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
datapath = os.path.join("drive", "Shareddrives", "When there's a whale there's a way", "input", "sample_segmented_images", "")

In [ ]:
train_df = pd.read_csv(datapath + "seg_train.csv")

In [ ]:
train_df.head(10)

                image             species individual_id                  box
0  00021adfb725ed.jpg  melon_headed_whale  cadddb1636b9        2 116 802 665
1  000562241d384d.jpg      humpback_whale  1a71fbb72250    588 597 3504 1477
2  0007c33415ce37.jpg  false_killer_whale  60008f293a2b      0 453 3183 1589
3  0007d9bca26a99.jpg  bottlenose_dolphin  4b00fe572063       1 91 2636 1495
4  00087baf5cef7a.jpg      humpback_whale  8e5253662392  1139 1590 3574 1913
5  000a8f2d5c316a.jpg  bottlenose_dolphin  b9907151f66e    259 443 2053 1068
6  000be9acf46619.jpg              beluga  afb9b3978217                  NaN
7  000bef247c7a42.jpg      humpback_whale  444d8894ccc8    22 1264 2702 1536
8  000c3d63069748.jpg              beluga  df94b15285b9        42 52 444 154
9  000c476c11bad5.jpg  bottlenose_dolphin  b11b2404c7e3   1234 696 2257 1210

--> i didn't fint out yet, what the new column (box) is about...

In [ ]:
train_df['species']. value_counts()

bottlenose_dolphin           9664
beluga                       7443
humpback_whale               7392
blue_whale                   4830
false_killer_whale           3326
dusky_dolphin                3139
spinner_dolphin              1700
melon_headed_whale           1689
minke_whale                  1608
killer_whale                 1493
fin_whale                    1324
gray_whale                   1123
bottlenose_dolpin            1117
kiler_whale                   962
southern_right_whale          866
spotted_dolphin               490
sei_whale                     428
short_finned_pilot_whale      367
common_dolphin                347
cuviers_beaked_whale          341
pilot_whale                   262
long_finned_pilot_whale       238
white_sided_dolphin           229
brydes_whale                  154
pantropic_spotted_dolphin     145
globis                        116
commersons_dolphin             90
pygmy_killer_whale             76
rough_toothed_dolphin          60
frasiers_dolphin               14
Name: species, dtype: int64

we have some typos in the species:
- but we have bottlenose_dolphin and bottlenose_dolpin, kiler_whale and killer_whale. Obviously, it is typos. Also, globis and pilot_whale are short_finned_pilot_whale

--> correct the labels

In [ ]:
train_df.species.replace({"globis": "short_finned_pilot_whale",
                          "pilot_whale": "short_finned_pilot_whale",
                          "kiler_whale": "killer_whale",
                          "bottlenose_dolpin": "bottlenose_dolphin"}, inplace=True)

In [ ]:
train_df['species']. value_counts()

bottlenose_dolphin           10781
beluga                        7443
humpback_whale                7392
blue_whale                    4830
false_killer_whale            3326
dusky_dolphin                 3139
killer_whale                  2455
spinner_dolphin               1700
melon_headed_whale            1689
minke_whale                   1608
fin_whale                     1324
gray_whale                    1123
southern_right_whale           866
short_finned_pilot_whale       745
spotted_dolphin                490
sei_whale                      428
common_dolphin                 347
cuviers_beaked_whale           341
long_finned_pilot_whale        238
white_sided_dolphin            229
brydes_whale                   154
pantropic_spotted_dolphin      145
commersons_dolphin              90
pygmy_killer_whale              76
rough_toothed_dolphin           60
frasiers_dolphin                14
Name: species, dtype: int64